[user]
	name = NickP-real
	email = nick_narak@rocketmail.com
[credential]
	helper = store
[core]
	autocrlf = input
	editor = nvim
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
    cmd = nvim -f -c \"DiffviewOpen\" 
    ; \"$MERGED\"
# set "nvim" as tool for merging
[merge]
    tool = nvim
	conflictstyle = diff3
# automatically launch merge tool without displaying a prompt
[mergetool]
    prompt = false
	keepBackup = false
[safe]
	directory = *
[color]
	ui = true
