[user]
	name = NickP-real
	email = nick_narak@rocketmail.com
[credential]
	helper = store
[core]
	autocrlf = input
	editor = nvim
  pager = delta
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
	keepBackup = false
[safe]
	directory = *
	directory = /home/nickp_real/.cache/yay/auto-cpufreq/src/opt/auto-cpufreq/
[color]
	ui = true
[advice]
  addIgnoredFile = false

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[diff]
    colorMoved = default
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
# personal account
[url "git@github.com-NickP-real:NickP-real"]
  insteadOf = git@github.com:NickP-real
  pushInsteadOf = git@github.com:NickP-real

[includeIf "hasconfig:remote.*.url:git@github.com:SmartSoftAsia/**"]
  path = ~/.work.gitconfig

[alias]
  adog = log --all --decorate --oneline --graph
  adogs = log --all --decorate --oneline --graph --stat
  mergetool = "!nvim -c DiffviewOpen"
